<nav id="father">
    <label for="btn1" class="button">Difficulty
        <span class="fas fa-caret-down"></span>
    </label>
    <input type="checkbox" id="btn1">
    <ul id="child1" class="menu">
        <li><a href="#">Home</a></li>
        <li>
            <label for="btn-2" class="first">Features
                <span class="fas fa-caret-down"></span>
            </label>
            <input type="checkbox" id="btn-2">
            <ul>
                <li><a href="#">Pages</a></li>
            </ul>
        </li>
        <li>
            <label for="btn-3" class="second">Services
                <span class="fas fa-caret-down"></span>
            </label>
            <input type="checkbox" id="btn-3">
            <ul>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">App Design</a></li>
            </ul>
        </li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Feedback</a></li>
    </ul>
</nav>
<nav id="father">
    <label for="btn2" class="button">District
        <span class="fas fa-caret-down"></span>
    </label>
    <input type="checkbox" id="btn2">
    <ul id="child2" class="menu">
        <li><a href="#">Fk</a></li>
        <li>
            <label for="btn-2" class="first">Features
                <span class="fas fa-caret-down"></span>
            </label>
            <input type="checkbox" id="btn-2">
            <ul>
                <li><a href="#">Pages</a></li>
            </ul>
        </li>
        <li>
            <label for="btn-3" class="second">Services
                <span class="fas fa-caret-down"></span>
            </label>
            <input type="checkbox" id="btn-3">
            <ul>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">App Design</a></li>
            </ul>
        </li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Feedback</a></li>
    </ul>
</nav>
<nav id="father">
    <label for="btn3" class="button">Distance
        <span class="fas fa-caret-down"></span>
    </label>
    <input type="checkbox" id="btn3">
    <ul id="child3" class="menu">
        <li><a href="#">Home</a></li>
        <li>
            <label for="btn-2" class="first">Features
                <span class="fas fa-caret-down"></span>
            </label>
            <input type="checkbox" id="btn-2">
            <ul>
                <li><a href="#">Pages</a></li>
            </ul>
        </li>
        <li>
            <label for="btn-3" class="second">Services
                <span class="fas fa-caret-down"></span>
            </label>
            <input type="checkbox" id="btn-3">
            <ul>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">App Design</a></li>
            </ul>
        </li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Feedback</a></li>
    </ul>
</nav>
<nav id="father">
    <label for="btn4" class="button">Elevation
        <span class="fas fa-caret-down"></span>
    </label>
    <input type="checkbox" id="btn4">
    <ul id="child4" class="menu">
        <li><a href="#">Home</a></li>
        <li>
            <label for="btn-2" class="first">Features
                <span class="fas fa-caret-down"></span>
            </label>
            <input type="checkbox" id="btn-2">
            <ul>
                <li><a href="#">Pages</a></li>
            </ul>
        </li>
        <li>
            <label for="btn-3" class="second">Services
                <span class="fas fa-caret-down"></span>
            </label>
            <input type="checkbox" id="btn-3">
            <ul>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">App Design</a></li>
            </ul>
        </li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Feedback</a></li>
    </ul>
</nav>