/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------------------------------- */

body {
  max-height: 100vh;
  overflow: hidden;
  background: burlywood;
}

main {
  height: 90vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
header {
  border-radius: 0 0 1rem 1rem;
  background: rgb(231, 176, 26);
  height: 7vh;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: left;
  box-shadow: 0px 5px 10px rgba(58, 56, 56, 0.459);
  align-items: center;
  justify-content: center;
  z-index: 100;
}

h1 {
  font-size: larger;
}

.return {
  position: absolute;
  left: 0.5rem;
}

.message-space {
  max-height: 80vh;
  overflow-y: scroll;
}

.chat-pic {
  width: 3rem;
  height: 3rem;
  background-color: gray;
  margin-left: 2rem;
  margin-right: 1rem;
  border-radius: 50%;

}
.info {
  position: absolute;
  right: 0.5rem;
  margin-right: 0.5rem;
}

.counterpart {
  margin-top: 0.7rem;
  display: flex;
  flex-direction: row;
}

.chat-pic-small {
  width: 2rem;
  height: 2rem;
  background-color: gray;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  background-position:center;
  background-size:cover
}

.counterpart-msg {
  max-width: 70%;
  background-color: rgb(219, 219, 219);
  padding: 0.7rem 1.5rem;
  border-radius: 30px;
}

.time {
  margin-top: 0.2rem;
  font-size: small;
  color: rgba(78, 78, 78, 0.692);
  text-align: right;
}

.user {
  margin-top: 0.7rem;
  margin-right: 0.3rem;
  display: flex;
  justify-content: flex-end;
  color: white;
}

.user-msg {
  max-width: 70%;
  background-image: linear-gradient(
    rgb(235, 169, 16),
    rgba(246, 211, 55, 0.689)
  );
  padding: 0.7rem 1.5rem;
  border-radius: 30px;
}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -5px 10px rgba(58, 56, 56, 0.459);
  border-radius: 1rem 1rem 0 0;
}

.typing-space {
  height: 10vh;
  background: burlywood;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.chat-form {
  border-radius: 1rem 1rem 0 0;
}

.typehere {
  font-size: 20px;
  height: 5vh;
  width: 90%;
  border-radius: 1rem;
  margin: 0.7rem 1rem;
  padding: 0 0.5rem;
  border: 1px rgb(231, 176, 26) solid;
  border-radius: 1rem 0 1rem 0;
}
.typehere:focus {
  outline-width: 0;
}

form {
  display: flex;
  align-items: center;
}

.submit-btn {
  padding: 0.3rem;
  text-align: center;
  color: rgb(136, 101, 4);
  font-size: medium;
  margin-right: 0.5rem;
  /* background-image: linear-gradient(rgb(119, 0, 255), rgb(204, 0, 255)); */
  background: burlywood;
  border-radius: 1rem;
  border: none;
}
