/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




/* /////////////////////////////////////////////////////////////////////////////// */

html, body {
    overflow-x:hidden 
} 

.main-container{
    height:96vh;
    overflow-x: hidden;

}
.sticky-top{
    position: sticky;
    top: 0;
    background-image: url(./images/428865.jpg);
    z-index:100
}
.header{
    height: 25Px;
    background: rgb(0, 0, 0);
    font-size: 25px;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1vh
}
.return{
    position:absolute;
    left:10px;    
}

.guild-img-container{
    display:flex;
    justify-content: center;
    margin: 2vh 0vh 1vh 0vh
}
.guild-img-container > img{
    height:100px;
    width:100px;
    border:2px solid rgb(255,85,0,0.5);
    border-radius:50%;
    box-shadow:0.2vh 0.2vh 0.2vh 0.2vh black
}
#guild-name{
    width:100%;
    text-align:center;
    font-weight:bold;
    font-size:25px;
    margin: 1vh 0vh 1vh 0vh
}

#guild-description{
    width:100%;
    text-align:center;
    font-size:15px;
    margin: 1vh 0vh 1vh 0vh
}

.exp-bar{
    padding-left: 4vw;
    padding-right: 4vw;
}

.meter {
    box-sizing: content-box;
    height: 12px;
    position: relative;
    margin: 1vh 0vh 1vh 0vh;
    background: #000;
    border-radius: 25px;
    padding: 5px;
  }

.meter > div {
    display: block;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(77 180 248);
    position: relative;
    overflow: hidden;
  }

#current-exp{
    position: absolute;
    color: white;
    font-size: 1vh;
    top: 5px;
    left: 10px;
}


.guild-function{
    display: flex;
    justify-content: space-evenly;
    height: 13vh;
    margin-bottom: -1vh;
    margin-top: 1vh;
}
.button-container {
    position:relative;
}
.button-container > button{
    height: 9vh;
    width: 16vw;
    border: 2px solid rgb(255,85,0,0.5);
    border-radius: 50%;
    box-shadow: 0.2vh 0.2vh 0.2vh 0.2vh black;
    opacity: 0.8;
}

#guild_create_activity{
    background-image:url("images/inv_icon_daily_mission_scroll.jpg")
}
#guild_activity{
    background-image:url("images/inv_icon_mission_complete_order.jpg")
}
#guild_chat{
    background-image:url("images/ui_chat.jpg")
}

.button-content{
    position: absolute;
    bottom: -0.5vh;
    left: -1vw;
    font-size: 15px;
    height: 4vh;
    width: 10vh;
    color: black;
    font-weight: bolder;
}


#guild_request_container{
    position: absolute;
    top: 69%;
    left: 92%;
    display: flex;
    border: black 1px solid;
    width: 100%;
    height: 12vh;
    background: black;
    opacity: 0.9;
    transition: 0.5s ease;
    border-radius: 15px;
}
#requests_container_inner{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    width: 87vw;
}

.open{
    left:17px !important;
}

#request_title{
    writing-mode: vertical-lr;
    height: 10vh;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    color: #dbd925;
    padding: 6px 9px 5px 4px
}

#no_request{
    writing-mode: vertical-rl;
    height: 11vh;
    font-size: 17px;
    text-align: center;
    overflow: hidden;
    color: #dbd925;
    padding: 4px;
}


.request{
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25vw;
    flex:0 0 25vw;
}

.propic{
    height:55px;
    width:55px;
    border:2px solid rgb(255,85,0,0.5);
    background-color: blanchedalmond;
    border-radius:50%;
    box-shadow:0.2vh 0.2vh 0.2vh 0.2vh black
}

.request-nickname{
    height:20px;
    color:blanchedalmond;
    text-align:center
}
.tick, .cross{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-check{
    font-size: 25px;
    color: #07f15c;
    text-shadow: 1px 1px 3px rgb(209, 212, 36);
}
.fa-times{
    font-size:25px;
    color: #f32323;
    text-shadow: 1px 1px 3px rgb(209 212 36);
}


#titles{
    width: 100vw;
    border-collapse: collapse;
    font-size: 16px;
    font-weight: bolder;
}

#titles th, #members td{
    overflow:hidden;
    padding: 5px 0px 5px 0px;
    align-content: center;
    vertical-align: middle;
    text-align: center;
}

#titles tr{
    height: 5vh;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}
#members tr{
    height: 5vh;
    background-color:rgb(202,149,115);
    border-bottom:dotted rgb(98 54 26);
}


#titles th, #members td{
    width:20vw
}

#members{
    width: 100vw;
    border-collapse: collapse;
    overflow-y: scroll;
}

#members td{
    padding: 17px 0px 14px 0px;
}
#members td:nth-child(4n+1){
    font-weight: bolder;
}

#guild-member-container{
    background-color: rgb(202,149,115);
    height:39vh;
}

.footer{
    height: 4vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: black;
    justify-content: space-between;
}

#button_home {
    height: 5vh;
    width: 12vw;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background: rgb(248, 219, 156);
    z-index: 10;
    justify-content: center;
    text-align: center;
    line-height: 5vh;
    font-size: 4vh;
}