/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




/* /////////////////////////////////////////////////////////////////////////////// */


html, body {
    overflow-x:hidden 
  } 

.main-container{
    height:96vh;
    overflow-x:hidden;
}
.sticky-top{
    position: sticky;
    top: 0;
    background-image: url(./images/428865.jpg);
    z-index:100
}
.header{
    height: 25Px;
    background: rgb(0, 0, 0);
    font-size: 25px;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1vh
}
.return{
    position:absolute;
    left:10px;    
}


.guild-icon-container{
    display:flex;
    justify-content: center;
    padding: 2vh
}
.guild-icon-container > img{
    height:100px;
    width:100px;
    border:2px solid rgb(255,85,0,0.5);
    box-shadow:0.2vh 0.2vh 0.2vh 0.2vh black;
    border-radius:25%;
}

#guild-intro{
    width:100%;
    text-align:center;
    font-weight:bold;
    font-size:25px;
}


.create-guild{
    display:flex;
    justify-content: center;
    padding:2vh;
}

#guilds-title{
    width: 100vw;
    border-collapse: collapse;
    font-size: 16px;
    font-weight: bolder;

}

#guilds-title th, #guilds td{
    overflow:hidden;
    padding: 5px 0px 5px 0px;
    align-content: center;
    vertical-align: middle;
    text-align: center;
}

#guilds-title tr{
    height: 5vh;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}
.guilds-container{
    height: 52vh;
    background-color: rgb(202,149,115)
}
#guilds{
    width: 100vw;
    border-collapse: collapse;
    overflow-y: scroll;
}
#guilds tr{
    height: 8vh;
    background-color:rgb(202,149,115);
    border-bottom:dotted rgb(98 54 26);
}

#guilds-title th, #guilds td{
    width:25vw
}

.footer{
    height: 4vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: black;
    justify-content: space-between;
}

#button_home {
    height: 5vh;
    width: 12vw;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background: rgb(248, 219, 156);
    z-index: 10;
    justify-content: center;
    text-align: center;
    line-height: 5vh;
    font-size: 4vh;
}
/* Modal related css */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
.modal-content {
  background-color: #E5B181;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  height: 50vh;
  border-radius: 5%;
  border: dotted 3px;
  }
  
  .modal-header{
    display: flex;
    justify-content: space-between;
    border-bottom: solid black;
    margin-bottom: 5px;

  }

.modal-title{
  font-size:20px;
  font-weight: bold;

}
.modal-body{
  height:47vh;
  display:flex;
}

#guild-create-form{
  display:flex;
  flex-direction: column;
  width:100%
}
.form-group{
  width: 100%;
  display: flex;
  flex-direction: column;
}
#create_guild_name{
  font-size: 16px;
  margin: 4px 0px 4px 0px;
}
#guild_name{
  margin: 4px 0px 4px 0px;

}
#create_guild_desc{
  margin: 4px 0px 4px 0px;
}

#guild_description{
  margin: 4px 0px 4px 0px;
}
.reminder{
  color: rgb(118 0 0);
    margin: 4px 0px 4px 0px;
}

.modal-footer{
  width:100%
}
#img{
  margin: 4px 0px 4px 0px;
}

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

button  {
  display: inline-block;
  border: 0.16em solid rgb(228 9 9 / 0%);
  border-radius: 6em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #eee;
  text-align: center;
  transition: all 0.2s;
  margin: 0 0.1em 0.1em 0;
  background-color: #de6b48;
}

.requested{
  background-color: black;
}

#create_guild_btn{
  font-size: 18px;
    padding: 5px;
}
