/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------------------------------- */
body {
  background-color: rgb(242, 239, 228);
  height: 100%;
  background-image: url("./image/03.jpg");
  /* filter: blur(8px); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header {
  position: sticky;
  top: 0;
  z-index: 10;
}

h1 {
  font-size: 2rem;
  text-align: center;
}
h2 {
  font-size: 1.3rem;
  text-align: center;
}
.control {
  position: sticky;
  background: rgb(204, 154, 17);
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 1rem 1rem;
  align-items: center;
  padding: 0.3rem 0.5rem;
  height: 7vh;
}
main {
  display: block;
}
.card {
  margin: 1px 1px;
  background-color: rgba(255, 255, 128, 0.349);
  border-radius: 1rem;
  border: rgba(255, 166, 0, 0.739) 1px solid;
}
.chat-pic {
  width: 3rem;
  height: 3rem;
  background-color: gray;
  background-position:center;
  background-size:cover;
  border-radius: 50%;
}
.thread-header {
  display: flex;
  flex-direction: column;
  max-width: 30%;
}
.comment-num {
  color: orange;
}
.user-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
}
.username {
  margin-top: 0.3rem;
  font-size: 1rem;
}
.time {
  font-size: small;
  color: grey;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.top-container {
  display: flex;
  flex-direction: row;
}

.thread-body {
  max-width: 70%;
  margin-left: 1rem;
  margin-top: 1.2rem;
}

.thread-footer {
  margin-top: 0.3rem;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.thread-footer > div {
  border: 1px grey solid;
  border-radius: 10px;
  padding: 5px;
  margin-left: 1rem;
  display: flex;
}
.thread-footer > div > p {
  margin-left: 0.5rem;
}

.first {
  border: solid rgb(228, 107, 77) 3px;
  border-radius: 1rem;
}
