/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------------------------------- */
header {
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 0 0 1rem 1rem;
}
body {
  background-color: rgba(204, 154, 17, 0.424);
}
.category {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  z-index: 10;
  border-radius: 0 0 1rem 1rem;
}

.return {
  position: absolute;
  left: 0.5rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
}
h2 {
  font-size: 1.3rem;
  text-align: center;
}
.control {
  position: sticky;
  background: rgb(231, 176, 26);
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: rgb(231, 176, 26) solid 3px;
  align-items: center;
  padding: 0.3rem 0.5rem;
  border-radius: 0 0 1rem 1rem;
  height: 7vh;
}

main {
  width: 80%;
  margin: 1rem auto;
}

textarea {
  width: 100%;
  height: 50vh;
  font-size: 21px;
}
input {
  margin-top: 0.5rem;
}
.comment-heading {
  margin-bottom: 0.5rem;
}

textarea {
  width: 100%;
  height: 50vh;
  background: none;
  border: rgb(231, 176, 26) 1px solid;
  border-radius: 1rem;
  padding: 0.2rem;
}
textarea:focus {
  outline-width: 0;
  border: rgba(33, 231, 109, 0.644) 5px solid;
}
.file-submit {
  border: rgb(231, 176, 26) 1px solid;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(231, 176, 26);
}
