html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ----------------------------- */
.bg_img{
    background-image: url('./images/inklandscape.png');
    background-size: 200vh,200vw;
    width:100%;
    height: 100%;
    z-index: -10;
    filter:blur(8px);
    opacity:0.4;
    position:absolute;
    left:0;top:0;
  }


#head_info{
  height:5vh;
  background:black;
  color:rgba(255, 255, 255, 0.829);
  overflow-x:scroll;
  display: flex;
  flex-wrap: wrap;
}
.today_weather{
  width:20vw;
  font-size: 4vh;
  line-height: 5vh;
  text-align: center;
}
.today_weather_details{
  overflow-x:scroll;
  /* height:3vh; */
  width:95vw;
  font-size: 2.5vh;
  line-height: 3vh;
  background:rgba(0, 0, 0, 0.705);
  position: absolute;
  height:max-content;
  max-height:10vh;
  top:5vh;
  z-index: 10;
  padding-left:2.5vw;
  padding-right:2.5vw;
  transition-duration:1s
}
.weather_forecast{
  overflow-x:scroll;
  overflow-y:hidden;
  white-space: nowrap;
  height:5vh;
  width:80vw;
  text-align: center;
  justify-content: space-between;
}
.weather_image{
  margin-top:0.3vh;
}
.date{
  font-size: 1.8vh;
}
.week{
  display:flex;
  flex-wrap: wrap;
  width:max-content;
  height:5vh
}
.day{
  display:inline-block;
  width:25vw;
}
.weather_day{
  display:flex;
  flex-wrap: wrap;
  width:25vw;
  height:5vh;
}
.bottom{
    height:4vh;
    width:100%;
    position:absolute;
    bottom:0;
    background:black;
    justify-content: space-between;
}
.bottom_button{
  background:black;
  color:white;
  border-style:solid;
  width:36vw;
  padding-left: 3vw;
  position:sticky;
  bottom:0;
  height:4vh;
  font-size: 2.8vh;
  line-height: 4vh;
  text-align: center;
}
#button_home{
    height:5vh;
    width:12vw;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%);
    background:rgb(248, 219, 156);
    z-index:10;
    justify-content: center;
    text-align: center;
    line-height: 5vh;
    font-size:4vh;
}
.team_name{
    height:5vh;
    background:rgb(0, 0, 0);
    font-size: 4vh;
    line-height:5vh;
    color:white;
    /* margin-bottom: 10px; */
    text-align: center;
}
.icons-row{
    height:14vh;
    display:flex;
    flex-wrap: wrap;
    width:max-content;
    overflow-x:scroll;
    overflow-y:hidden;
    justify-content: center;
    text-align: center;
}
.participants{
  display:flex;
  flex-wrap: wrap;
  width:100vw;
  position: relative;
}
.background{
  display:flex;
  flex-wrap: wrap;
  width:100vw;
  position: relative;

  /* -webkit-filter: blur(8px); */
}
.large-icons-container{
  width:71vw;
  height:14vh;
  overflow-x: scroll;
}
.icons-container{
  width:max-content;
  overflow-x:scroll;
  display:flex;
  flex-wrap:wrap;
  height:14vh;
  background-image: 200%;
}
.leader{
  width:20vw;
  height:14vh;
  /* background:rgba(171,255,0,0.8); */
  background:black;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 0%;
  transition-duration: 1s;
}
.user-icon{
    height:8vh;
    width:8vh;
    margin:1vh;
    margin-top:1vh;
    border-radius:100%;
    background:white;
    position:relative;
    justify-content: center;
    text-align: center;
    display:inline-block;
    background-position:center;
    background-size:cover
}
.user-name{
    position:absolute;
    left:50%;
    transform: translate(-50%, 0);
    top:8.5vh;
    font-size: 2vh;
    width:8vh;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.user-empty{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:2vh;
}
.user-name-request{
  position:absolute;
  bottom: -4vh;
  font-size: 2vh;
  width:19vw;
  margin: auto;
  left:-4px;
}
.accept{
  width:3.5vh;
  height:14vh;
  color:black;
  text-align: center;
  border-bottom-right-radius: 20%;
  border-top-right-radius: 20%;
}
.acceptIcon{
  padding-top: 3vh;
  height:4vh;
  color:green
}
.rejectIcon{
  height:4vh;
  color:red;
}
.request{
  position:absolute;
  right:-30vw;
  top:0;
  width:40vw;
  height:14vh;
  background:lightcoral;
  opacity:0.9;
  /* text-orientation:inherit; */
  font-size: 2.2vh;
  line-height: 9vw;
  color:yellow;
  /* transform-origin:top left */
  border-top-left-radius: 3vh;
  border-bottom-left-radius: 3vh;
  transition-duration: 1s;
}
.no_request{
  background:black;
}
.request_text{
  position:absolute;
  writing-mode:vertical-rl;
  text-align: center;
  left:0;
  width:9vw;
  height:14vh;
  /* box-shadow: 10px 0px 10px 0px black; */
  /* transform:rotate(180deg); */  
}
.request_open{
  right:0;
}
.request-field{
  display:flex;
  flex-wrap: wrap;
  background:linear-gradient(to right,0,lightcoral);
  box-shadow: 10px 0px 10px 0px black;
  border-top-right-radius: 3vh;
  border-bottom-right-radius: 3vh;
  margin-right:1vw;
}
.request-icons-container{
  position:absolute;
  left:9vw;
  overflow-x: scroll;
  max-width: 30vw;
}
.request_icons{
  overflow-x: scroll;
  overflow-y:hidden;
  width:max-content;
  display:flex;
  flex-wrap: wrap;
  height:14vh
}
.proposed{
    background: black;
    color:yellow;
    opacity:0.7;
    height:3vh;
    font-size: 2.5vh;
    line-height: 3vh;
    text-align: center;
}
.route_info{
  height:4vh;
  background:black;
  color:black;
  /* border-top-left-radius: 30%; */
  /* border-top-right-radius: 30%; */
  transition-duration: 1s;
  font-size: 3.2vh;
  line-height: 4vh;
  padding-left: 3vw;
  display:flex;
  flex-wrap: wrap;
}
.route_name{
  overflow-x: auto;
  overflow-y:hidden;
  height:4vh;
  width:84vw;
  white-space:nowrap;
  
}
.route_button{
  width:13vw;
  font-size:1.8vh;
  line-height: 1.5vh;
  padding-top:0.3vh;
  text-align: center;
  background:rgba(128, 128, 128, 0.658);
  color:white;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}
.highlight{
  background:rgba(231, 253, 36, 0.671);
  width:10vw;
  word-wrap:break-word;
}
.b1{background:rgb(85,255,0) !important}
.b2{background:rgb(128,255,0) !important}
.b3{background:rgb(171,255,0) !important}
.b4{background:rgb(213,255,0) !important}
.b5{background:rgb(255,255,0) !important}
.b6{background:rgb(255,213,0) !important}
.b7{background:rgb(255,171,0) !important}
.b8{background:rgb(255,128,0) !important}
.b9{background:rgb(255,85,0) !important}
.b10{background:rgb(255,43,0) !important}
#map {
  height: 100%;
  width:100%
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow:hidden;
}
.information{
  height:max-content;
  width:100%;
  display:block;
}
.pin{
  position:absolute;
  top:0;
}

#chatroom{
  height:22.5vh;
  position:absolute;
  bottom:4vh;
  width:100%;
  z-index:1;
  overflow-y:scroll;
}
#msgbox{
  height:22.5vh;
  position:absolute;
  bottom:0;
  width:100%;
  /* overflow-y:scroll; */
}
.message-space {
  max-height: 22.5vh;
  overflow-y: scroll;
}


.activity-setting{
  position:absolute;
  top:0;
  height:4vh;
  width:100%;
  display:flex;
  flex-wrap: wrap;
  background:black;
  /* padding-left:2vw; */
  line-height:4vh;
  text-align:center;
  justify-content: center;
  font-size:2vh;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
  transition-duration: 1s;
  position:relative;
}
.hiking-info{
  position:absolute;
  top:60;
  width:100%;
  background:rgba(0, 0, 0, 0.753);
  height:5vh;
  color:rgba(255, 255, 255, 0.452);
  padding-top: 6vh;
  padding-bottom:1vh;
  font-size:2vh;
  line-height:2.5vh;
}
.description{
  margin-top: 7.5vh;
  width:100%;
  background:linear-gradient(rgba(156, 248, 220, 0.541),rgb(156, 248, 210));
  height:4vh;
  /* border-bottom-right-radius: 30%; */
  /* border-bottom-left-radius: 30%; */
  font-size:2.5vh;
  line-height:3vh;
  text-align: center;
  line-height: 4vh;
}
.pin{
  position:absolute;
  width:10vw;
  height:4vh;
  background:rgba(0, 0, 0, 0.5);
  bottom:30vh;
  right:0;
  top:70vh;
  color:yellow;
  /* color:black */
}
.submit{
  background:rgba(0, 0, 0, 0.404);
  color:white;
  height: 4vh;
}
.route{
  width:49vw;
  font-size:1.8vh;
  padding-left:1vw;
}
.datetime{
  width:50vw;
  font-size:2vh;
  text-align: center;
}
.ping{
  overflow:scroll;
}
.pinmsg{
  height:2vh;
  font-size:1.5vh;
  line-height: 2vh;
  padding-left: 1vh;
  background: black;
  color:yellow;
  opacity:0.7;
  z-index:99999999;
}
.back{
  position:absolute;
  left:2vw;
  font-size: 4vh;
  line-height: 5vh;
}

.directions{
  position:absolute;
  top:0;
  left:0;
  width:50vw;
  height:3vh;
  background:black;
  color:#9fc45b;
  opacity:0.6;
  z-index:20;
  border-bottom-right-radius: 40%;
  border-bottom-right-radius: 50px;
  display: flex;
  flex-wrap: wrap;
}
.directions div{
  width:19vw;
  justify-content: space-between;
  text-align: center;
  line-height: 3vh;
  font-size: 2.3vh;
}
.start{border-left:1px solid #9fc45b;border-right:0px solid #9fc45b;}
.end{border-left:0.5px solid #9fc45b}
.directions i{
  font-size: 2vh;
  word-spacing: 2em;
  line-height: 3vh;
  padding-left: 3vw;
  padding-right: 3vw;

}
.mapOrPhoto{
  height:30%;
  width:100%;
  position:relative;
}
.commence{
  position:absolute;
  top:0;
  left:50%;
  transform:translate(-50%);
  width:30vw;
  height:5vh;
  line-height:5vh;
  font-size: 3.5vh;
  background:green;
  color:black;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  transition-duration: 1s;
}
.hiking{
  background:chocolate;
  transition-duration: 1.2s;
}
.hiked{
  background:grey
}
.large{
  font-size:2.5vh;
  color:white;
}
.red{
  background:rgba(255, 0, 0, 0.973);
  transition-duration: 1.2s;
}
.display_none{
  display: none;
  transition-duration: 1s;
}
.typing-space{
  position:absolute;
  bottom:0vh;
  height:5vh;
  /* margin-bottom: 3vh; */
}
.chat-form{
  height:5vh;
}
.typehere{
  height:3.5vh;
  padding-left:2vw;
  font-size:10px;
}
.submit-btn{
  margin-right:1rem;
}

.chat-pic-small {
  width: 2rem;
  height: 2rem;
  background-color: gray;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  background-position:center;
  background-size:cover
}