.sticky-top{
    position:sticky;
    top:0;
    background-color: white;
}
.header{
    height:50px;
    background:rgb(0, 0, 0);
    font-size: 30px;
    color:white;
    margin-bottom: 10px;
    width:100%;
    text-align: center;
}

.guild-container{
    display:flex;
    justify-content: center;
}
.guild-container > img{
    height:100px;
    width:100px;
    border:2px solid black;
    border-radius:50%;
}
#guild-name{
    width:100%;
    text-align:center;
    font-weight:bold;
    font-size:25px;
}

.exp-bar{
    padding-left:10px;
    padding-right:10px;
}

.create-activity{
    display:flex;
    justify-content: center;
    padding:5px;
}
.members{
    margin-bottom:0;
}

.footer{
    height:50px;
    margin-top:10px;
    padding: 15px;
    background:rgb(0, 0, 0);
    font-size: 30px;
    color:white;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    bottom:0;
}

