/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




/* /////////////////////////////////////////////////////////////////////////////// */
html, body {
    overflow-x:hidden 
  } 

.main-container{
    height:96vh;
    overflow-x: hidden;

}

.sticky-top{
    position: sticky;
    top: 0;
    background-image: url(./images/428865.jpg);
    z-index:100
}

.header{
    height: 25Px;
    background: rgb(0, 0, 0);
    font-size: 25px;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1vh
}

.return{
    position:absolute;
    left:10px;    
}

.player-profile{
    display:flex;
}

.propic-container,.profile-container{
    display:flex;
    flex-wrap: wrap;
    width:50%;
    padding:10px 20px 10px 20px;
    align-items: center;

}

.propic-container{
    justify-content: center;
    
}

.propic-container > img{
    height:100px;
    width:100px;
    border-radius:50%;
    opacity:0.8;
    margin:5px;
    box-shadow:0 0 10px black;
}

.profile-content{
    width:100%;
    font-size: 20px;
}

.exp-bar{
    padding-left: 4vw;
    padding-right: 4vw;
}

.meter {
    box-sizing: content-box;
    height: 12px;
    position: relative;
    margin: 1vh 0vh 1vh 0vh;
    background: #000;
    border-radius: 25px;
    padding: 5px;
  }

.meter > div {
    display: block;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(255 128 0 / 81%);;
    position: relative;
    overflow: hidden;
  }

#current-exp{
    position: absolute;
    color: white;
    font-size: 1vh;
    top: 5px;
    left: 10px;
}

#journal-text{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#journal-titles{
    width: 100vw;
    border-collapse: collapse;
    font-size: 16px;
    font-weight: bolder;
    height: 6vh
}

#journals{
    width: 100vw;
    border-collapse: collapse;
    overflow-y: scroll;
}

#journals tr{
    background-color:rgb(202,149,115);
    border-bottom:dotted rgb(98 54 26);
}

#journal-titles th, #journals td{
    overflow:hidden;
    align-content: center;
    vertical-align: middle;
    text-align: center;
}

#journal-titles th:nth-child(1),#journals td:nth-child(6n+1){
    width:22vw;
}
#journal-titles th:nth-child(2),#journals td:nth-child(6n+2){
    width:23vw
}
#journal-titles th:nth-child(3),#journals td:nth-child(6n+3){
    width:18vw
}
#journal-titles th:nth-child(4),#journals td:nth-child(6n+4){
    width:14vw
}
#journal-titles th:nth-child(5),#journals td:nth-child(6n+5){
    width:11vw
}
#journal-titles th:nth-child(6),#journals td:nth-child(6n+6){
    width:12vw;;
}
tbody{
    margin:5px;
}
#joined{
    background-color: rgb(219, 205, 170) !important
}

/* Journal style */
.route-icon{
    height: 8vh;
    width: 8vh;
    border-radius: 100%;
    position: relative;
    display: inline-block;
    background-position: center;
    background-size: 269%;
    box-shadow: 0.2vh 0.2vh 0.2vh 0.2vh black;
    z-index:5;
}

.b1{border:solid 0.3vh  rgb(85,255,0)}
.b2{border:solid  0.3vh rgb(128,255,0)}
.b3{border:solid  0.3vh rgb(171,255,0)}
.b4{border:solid 0.3vh  rgb(213,255,0)}
.b5{border:solid 0.3vh  rgb(255,255,0)}
.b6{border:solid 0.3vh  rgb(255,213,0)}
.b7{border:solid 0.3vh  rgb(255,171,0)}
.b8{border:solid 0.3vh  rgb(255,128,0)}
.b9{border:solid 0.3vh  rgb(255,85,0)}
.b10{border:solid  0.3vh rgb(255,43,0)}

.route-name div{
    vertical-align: middle;
    height:2vh;
  }

.route-name{
    text-align: center;
}

#journal-container{
    background-color: rgb(202,149,115);
    height: 55vh;
}

.footer{
    height: 4vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: black;
    justify-content: space-between;
    z-index:100
}

#button_home {
    height: 5vh;
    width: 12vw;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background: rgb(248, 219, 156);
    z-index: 10;
    justify-content: center;
    text-align: center;
    line-height: 5vh;
    font-size: 4vh;
}

#no_activity{
    height: 39vh;
    background-color: chocolate;
    background-image: url(./images/428865.jpg);
    background-size: 200vh, 200vw;
    z-index: -10;
    font-size: 6vh;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding: 50px;
}

button  {
    display: inline-block;
    border: 0.16em solid rgb(228 9 9 / 0%);
    border-radius: 6em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #eee;
    text-align: center;
    transition: all 0.2s;
    margin: 0 0.1em 0.1em 0;
    background-color: #de6b48;
  }