/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------------------------------- */
.form-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

form {
  background: rgba(95, 158, 160, 0.555);
  border: 3px solid cadetblue;
  display: flex;
  border-radius: 3rem;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0.5rem;
}

h1 {
  margin: 2rem auto;
  font-size: 3rem;
}

form {
  margin: 1rem;
}

input {
  font-size: 20px;
  border: none;
  border-bottom: cadetblue 1px solid;
  background: none;
  margin: 0.5rem;
  transition: 0.5s ease;
}
input:focus {
  outline-width: 0;
  border-bottom: rgba(33, 231, 109, 0.644) 5px solid;
}
.log {
  color: cadetblue;
  cursor: pointer;
}
.formHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrongNotice {
  color: white;
  font-size: medium;

  margin: 0.5rem 0;
  margin-top: 0;
  padding: 1rem;
  text-align: center;
  background-color: palevioletred;
}

#pro-pic-title{
  width: 50vw;
  text-align: center;
  color: rgb(0 0 0 / 64%);
}
#pro-pic{
  width:66vw;
}